@import "vendor/normalize.css";
@import "vendor/font-awesome/scss/font-awesome.scss";

body {
  background-color: #fff;
}

button {
  width: 150px;
  height: 75px;
  margin: auto;

  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}

input {
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

.form-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  max-height: 500px;
  padding: 30px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
