<ramble-nav-bar></ramble-nav-bar>
<div class="signup-page">
  <form class="app-signup form-auth" novalidate ng-submit="signupCtrl.signup()">
    <section class="form-group">
      <label for="email">EMAIL : </label>
      <span class="label label-danger" ng-show="submitted && signForm.email.$error.required">Required!</span>
      <span class="label label-danger" ng-show="submitted && signForm.$error.email">Invalid email!</span>
      <input class="form-control" email="email" type="text" ng-model="signupCtrl.user.user">
    </section>
    <section class="form-group">
      <label for="ramble-Signup-password">PASSWORD : </label>
      <span class="label label-danger" ng-show="submitted && signForm.password.$error.required">Required!</span>
      <input class="form-control"
             ng-required ng-minlength="3"
             name="password"
             type="password"
             ng-model="signupCtrl.user.password"
             id="ramble-Signup-password"
      >
    </section>
    <section class="form-group">
      <label for="confirm">CONFIRM : </label>
      <input class="form-control" name="confirmPassword" type="password" compare-to="signupCtrl.user.password" ng-model="signupCtrl.user.confirmPassword">
      <div class="confirmPWMessage" ng-show="signupForm.$error">
        <span class="confirm-password-message-error" ng-show="signup.confirmPassword.$error.pwmatch">
         <!-- pwmatch should equal to ctrl.$setValidity('pwmatch',v) in directive) -->
          Passwords don't match
        </span>
      </div>
    <button type="submit" class="btn btn-defualt">
      Sign Up
    </button>
  </form>
  <p>
    Already have an account? <a href="/#/signin">Sign in here!</a>
  </p>
</div>
