<ramble-nav-bar></ramble-nav-bar>
<div class="signin-page">
  <form novalidate ng-init="$ctrl.getToken()" ng-submit="$ctrl.signin()" name="signinForm">
    <section class="form-group">
      <label for="email"> EMAIL : </label>
      <span class="label label-danger" ng-show="signinForm.email.$error.required">Required!</span>
      <span class="label label-danger" ng-show="signinForm.$error.email">Invalid email!</span>
      <input class="form-control" name="email" type="email" ng-model="$ctrl.user.username" required/>
    </section>
    <section class="form-group">
      <label for="password"> Password: </label>
      <span class="label label-danger" ng-show="signinForm.password.$error.required">Required!</span>
      <input ng-minlength="3" class="form-control" name="password" type="password" ng-model="$ctrl.user.password" required/>
    </section>
    <button type="submit" class="btn btn-default" ng-disabled="signinForm.email.$dirty && signinForm.email.$invalid ||
  signinForm.password.$dirty && signinForm.password.$invalid">>
      Sign in
    </button>
  </form>
</div>
