@import "_theme";

.entry-list-item {
  margin: 10px;
  padding: 10px;
  border: thin solid $app-purple;
  border-radius: 5px;

  container {
    display: flex;
    overflow: hidden;
  }

  h2 {
    margin: 10px;
    margin-right: 50px;
    text-transform: capitalize;
    font-weight: 200;
    width: 30%;
  }

  p {
    width: 50%;
    color: $app-light-grey
  }

  a {
    text-decoration: none;
    color: $app-grey;

    &:hover {
      color: $app-purple;
    }
  }

  .fa-trash-o {
    color: rgba(244, 62, 23, 1);
    width: 10%;
    text-align: right;
  }
}
