<div ng-init="newPostCtrl.getEntries()">
  <h1>Lists</h1>
  <h1 ng-repeat="list in newPostCtrl.list">{{list}}</h1>
  <form class="create-post" novalidate ng-submit="newPostCtrl.createEntry()" >
  <div class="form-group">
    <label for="post-title">TITLE:</label>
    <input type="text" name="post-title" value="Title" ng-model="newPostCtrl.post.title">
  </div>
  <div class="form-group">
    <label for="post-body">BODY:</label>
    <input type="text" name="post-body" value="Title" ng-model="newPostCtrl.post.body">
  </div>

  <button type="submit">Create Post</button>
</form>
</div>
